.vscode
/Content/__ExternalActors__/*
/Content/__ExternalObjects__/*
/Content/Collections/*
/Content/Developers/*
/Content/FirstPerson/*
/Content/FirstPersonArms/*
/Content/FPWeapon/*
/Content/LevelPrototyping/*
/Content/MedievalDungeon/*
Intermediate
Saved
Script
Source